# Environment variables
.env
!.env.example

# Python virtual environment
venv/

# Cache files
__pycache__/
*.pyc
.pytest_cache/

# VS Code settings
.vscode/

# Logs
*.log

# ranking_engine test
test_ranking.py